<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!--Load Bootstrap CSS (optional)-->
    <link rel="stylesheet" media="screen" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" media="screen" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />

    <!-- Font-Awesome -->
    <link rel="stylesheet" media="screen" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" media="screen" href="bower_components/font-awesome/css/spiners.css" />

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Jquery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>    

    <!-- Kandy libraries -->
    <script src="https://kandy-portal.s3.amazonaws.com/public/javascript/fcs/3.0.4/fcs.js"></script>
    <script src="https://kandy-portal.s3.amazonaws.com/public/javascript/kandy/2.2.2/kandy.js"></script>
    
    <!-- Bootstrap -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>      
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>      

    <!-- Firebase -->
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>    
  </head>

  <body ng-app="sbAdminApp" ng-controller="BaseController"> 
    <div id="wrapper" ng-show="logged">

        <!-- Navigation -->
            
        <header></header>
        <!-- /.navbar-top-links -->
        
               
        <!-- /.navbar-static-side -->

        <div id="page-wrapper" style="min-height: 561px;">

            <div ui-view></div>

        </div>
        <!-- /#page-wrapper -->
    </div>

    <div class="container" ng-hide="logged" ng-controller="AuthController">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" ng-submit="passwordLogin()">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" ng-model="loginData.email" placeholder="E-mail" name="email" type="email" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" ng-model="loginData.password" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>                            
    <!--                             <a ui-sref="dashboard.home" class="btn btn-lg btn-success btn-block">Login</a> -->
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <script type="text/javascript">
        var callId;

        // Create audio objects to play incoming calls and outgoing calls sound
        var $audioRingIn = $('<audio>', { loop: 'loop', id: 'ring-in' });
        var $audioRingOut = $('<audio>', { loop: 'loop', id: 'ring-out' });

        // Load audio source to DOM to indicate call events
        var audioSource = {
        ringIn: [
          { src: 'https://kandy-portal.s3.amazonaws.com/public/sounds/ringin.mp3', type: 'audio/mp3' },
          { src: 'https://kandy-portal.s3.amazonaws.com/public/sounds/ringin.ogg', type: 'audio/ogg' }
          ],
        ringOut: [
          { src: 'https://kandy-portal.s3.amazonaws.com/public/sounds/ringout.mp3', type: 'audio/mp3' },
          { src: 'https://kandy-portal.s3.amazonaws.com/public/sounds/ringout.ogg', type: 'audio/ogg' }]
        };

        audioSource.ringIn.forEach(function(entry) {
        var $source = $('<source>').attr('src', entry.src);
        $audioRingIn.append($source);
        });

        audioSource.ringOut.forEach(function(entry) {
        var $source = $('<source>').attr('src', entry.src);
        $audioRingOut.append($source);
        });
    </script> 

    <!-- your app's js -->  
    <script src="js/app.js"></script>
    <script src="js/Kandy.js"></script>       
    <script src="js/Security.js"></script>
    <script src="js/Controllers.js"></script> 

    <script src="scripts/directives/header/header.js"></script> 
    <script src="scripts/directives/header/header-notification/header-notification.js"></script> 
    <script src="scripts/directives/sidebar/sidebar.js"></script> 
    <script src="scripts/directives/sidebar/sidebar-search/sidebar-search.js"></script>             

    <!-- Metis Menu Plugin JavaScript -->
    <script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="bower_components/raphael/raphael-min.js"></script>
    <!--<script src="bower_components/morrisjs/morris.min.js"></script>
    <script src="js/morris-data.js"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="dist/js/sb-admin-2.js"></script>    
<!--
    <script src="js/bootstrap.min.js"></script>      -->
  </body>
</html>
