
<div class="panel-body text-center">
	<div ng-show="!oncall">
        <button type="button" class="btn btn-primary btn-circle btn-xl" style="width: 150px; height: 150px; border-radius: 75px">
        	<i class="fa fa-user" style="font-size: 90px"></i>
        </button>	

        <div class="space-10"></div>

        <h2>{{incoming ? call_user : call_user.user_first_name + ' ' + call_user.user_last_name}}</h2>
        <h4 class="text-center">
        	<i class="fa fa-refresh fa-spin-custom" style="font-size: x-large;" ng-show="dialing || incoming"></i>
        	&nbsp;&nbsp;{{ (dialing && !incoming) ? 'Calling...' :  event }}
        </h4>			        
	</div>
</div>
<div class="panel-footer" style="text-align: center;">
	<button type="button" class="btn btn-success btn-circle btn-lg" data-dismiss="modal" ng-if="incoming && !answering" ng-click="answer_call()">
    	<i class="fa fa-phone"></i>
    </button>
	<button type="button" class="btn btn-danger btn-circle btn-lg" data-dismiss="modal" ng-if="incoming && !answering" ng-click="reject_call()">
    	<span class="glyphicon glyphicon-phone-alt"></span>
    </button>        
    <button type="button" class="btn btn-success btn-circle btn-lg" data-dismiss="modal" ng-if="!dialing && !incoming" ng-click="init_call()" ng-if="incoming == false">
    	<i class="fa fa-phone"></i>
    </button>
	<button class="btn btn-danger btn-circle btn-lg" id="initialize-end-btn" ng-if="(incoming && oncall) || (!incoming && oncall)" ng-click="end_call()"><span class="glyphicon glyphicon-phone-alt"></span></button>	        
</div>